
*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('../images/icon.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            height: 100vh;
}
.progress {
    position: relative;
    width: 210px;
    height: 30px;
    background: #9cbab4;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .progress__fill {
    width: 0%;
    height: 100%;
    background: #009579;
    transition: all 0.2s;
  }
  
  .progress__text {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    font: bold 14px "Quicksand", sans-serif;
    color: #ffffff;
  }